BASE_DOMAIN=cloudopen.space
DATA_DIR=data
NGINX_CONFIGS_DIR=nginx_configs
NGINX_SITES_AVAILABLE=/etc/nginx/sites-available
NGINX_SITES_ENABLED=/etc/nginx/sites-enabled
PROJECTS_DIR=projects
PLUGINS_DIR=plugins
PORT_RANGE_START=8100
PORT_RANGE_END=9000
CERTBOT_EMAIL=admin@cloudopen.space
HOST=0.0.0.0
PORT=8000
